.main-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  background: rgb(45,45,45);
  padding-top: 3%;
  
  
}

.main-nav a {
  margin-right: 5%;
  margin-left: 5%;
  color: white;
  text-decoration: none;
  
  
}

.subNav {
  display: flex;
  justify-content: space-evenly;
  background: silver;
  margin-top: 2%;
  
}